<h1>All Photos</h1>

<% @all_photos.each do |pic| %>
  <div>
    <img src="<%= pic.source %>">
  
    <a href="/photos/<%= pic.id %>">Show Details</a>
    <a href="/delete_photo/<%= pic.id %>">Delete</a>
    <a href="/photos/<%= pic.id %>/edit">Edit</a>
  </div>
<% end %>